<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/javascripts/extjs/resources/css/ext-all-access.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/javascripts/extjs/ext-all.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"> </script>
  </head>
  <body>
  </body>
</html>